<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Media Viewer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        testing testing
        <div style="max-width: 100%;height: auto;">
            <img id="my_img"/>
        </div>

        <script>document.getElementById("my_img").src = "data:image/png;base64," + yourByteArrayAsBase64;</script>
    </body>
</html>