{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Media Viewer</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            .imgbox {
                display: grid;
                height: 100%;
            }
            .center-fit {
                max-width: 100%;
                max-height: 100vh;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class = "imgbox">
            <img class="center-fit" id="my_img"/>
            <video controls
                autoplay="true"
                {% comment %} muted="muted" {% endcomment %}
                class="center-fit" id="my_video">
                <source id="video_source">
            </video>
        </div>
        <script>
            var video_player = document.getElementById('my_video');
            var video_source = document.getElementById('video_source');

            window.onload = function () {
                load_media()
            }

            function load_media(){
                fetch("{% url 'NextMedia' %}")
                .then(response => response.json())
                .then(json => {
                    if (json['image']) {
                        // Update the image
                        document.getElementById("my_img").src = "data:"+json["mime_type"]+";base64," + json['image'];
                    } else {
                        // Update the video
                        video_player.pause()
                        video_source.src = "data:"+json["mime_type"]+";base64," + json['video'];
                        video_player.load();
                        video_player.play();
                    }
                    // Call the function again after specified timeout
                    setTimeout(function () { load_media(); }, json['delay'])

                });
            }
        </script>
    </body>
</html>